body {
    margin: 0;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar contenido */
}

.logo{
    font-family: 'Courier New', Courier, monospace;
}

header {
    width: 100%;
    height: 100px;
    background: transparent;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.navbar {
    width: 100%;
    background-color: white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.navbar a:hover {
    color: black;
    font-size: 30px;
}

.textos-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.textos-header h1 {
    font-size: 50px;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
}

.login{
    border: 1px solid black;
    width: 400px;
    height: 520px;
    background: url("assets/fondo_inicio_registro.jpg");
    color: #F7F7F7;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

form {
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex;
    gap: 5px;
}
form h1{
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    margin-bottom: 60px;
}
label{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
    text-align: left;
}
input{
    background: rgba(255,255,255,0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: #F7F7F7;
}
.button{
    background: rgba(255,255,255,0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    width: 320px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: #F7F7F7;
}